net8.0
obj
/WebMVC/.vs/WebMVC/DesignTimeBuild/.dtbcache.v2
/WebMVC/.vs/WebMVC/FileContentIndex/43d5980b-6634-46b4-a31e-ddecae004b32.vsidx
/WebMVC/.vs/WebMVC/FileContentIndex/76d3512c-914b-4a18-b666-aa000391bfad.vsidx
/WebMVC/.vs/WebMVC/FileContentIndex/d1295a62-e456-4959-b9cd-e8f096240842.vsidx
/WebMVC/.vs/WebMVC/config/applicationhost.config
/WebMVC/.vs/WebMVC/v17/.suo
/WebMVC/.vs/WebMVC/v17/DocumentLayout.json
